body{
    background: linear-gradient(to right, #523961, #3b234a , #000000);
}

header{
    width: 100%;
    height: 100%;

}

#instagram{
    color: #000000;
    text-align: center;
}

#github{
    color: #000000;
    text-align: center;
}

.banner{
    padding-top: 5%;
    margin-left: 3%;
    animation: zoom 5s;
    padding-top: 8%;
    
}

.banner h1{
    color: #fff;
    margin-top: -1%;
    text-shadow: black 0.1em 0.1em 0.2em;
    
}

.banner h6{
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em
}

@keyframes zoom {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

.imgp{
    width: 30%;
    height: 30%;
    margin-left: 60%;
}

.container1{  
    width: 90%;
    height: 53rem;
    margin-left: 3%;
}

.titulo{
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: right;
    margin-top: 5%;
    
}

.imgp2{ 
    width: 0%;
    height: 0%;
}

.txtsobre   {
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: justify;
}

#mais{
    display: none;
}

.container1 button{
    margin-left: 14rem;
}


/* .container2{  
    width: 100%;
    height: 35rem;
}*/

.container3{
    margin-top: 5rem;
}

.tituloP{
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2;
    text-align: center;
    padding-bottom: 1%;

}

.mario{
    width: 25%;
    height: 28rem;
    margin-left: 4%;
    border-radius: 10%;
}

.github{
    width: 25%;
    height: 28rem;
    margin-left: 7%;
    border-radius: 10%;
}

.pjbreve{
    width: 25%;
    height: 28rem;
    margin-left: 7%;
    border-radius: 10%;
}

.tituloH{
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2;
    margin-left: 3%;
}

.insLg{
    width: 1rem;
    height: 1rem;
}

.gitlg{
    width: 1rem;
    height: 1rem;
}

.conteudo{
    margin-left: 2%;
    display: flex;
    width: 31%;
}

.card{
    flex: 0 0 100%;
    padding: 5%;
    border-radius: 30px;
}

.game-board{
    background: linear-gradient(#87CEEB, #E0F6FF);
    border-radius: 3%;
}

.bg-relogio{
    background: linear-gradient(#89a194, #000);
    border-radius: 3%;
    height: 100%;
}

.tpj{
    font-size: 1rem;
    text-align: center;
    color: #181619;
    margin-top: -1%;
}

.titulop{
    text-align: center;
    color: #fff;
    margin-top: -1%;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.marioJump{
    width: 100%;
    opacity: 1;
}

.marioJump:hover{
    border-radius: 3%;
    opacity: 0.5 ;
}

.imgRelogio{
    width: 90%;
    margin-left: 0.3rem;
    margin-top: 15%;
}

.imgRelogio:hover{
    border-radius: 3%;
    opacity: 0.5 ;
}

.emBreve{
    width: 100%;
    border-radius: 3%;
}

.emBreve:hover{
    border-radius: 3%;
    opacity: 0.5 ;
}

footer{
    margin-top: 10%;
    color: #000000;
    text-align: center;
    background-color: #fff;
}

footer a{
    text-decoration: none;
}



@media screen and (min-width: 780px) {
    
    .container1 button{
        margin-left: 49rem;
        font-weight: bold;
    }
    
    .txtsobre{
        width: 60%;
        margin-left: 40%;
        text-align: justify;
        text-shadow: black 0.1em 0.1em 0.2em;   
    }
    
    .imgp2{
        width: 30%;
        height: 30%;
        margin-top: -90%;
        margin-left: 3%;
    }
    
    .container3{
        margin-left: 3%;
        margin-top: -10rem;
    }

    .game-board{
        background: linear-gradient(#87CEEB, #E0F6FF);
        border-radius: 3%;
    }
    
    .game{
        font-size: 2rem;
        text-align: center;
        color: #181619;
        margin-top: -1%;
    }

    .tBreve{
        font-size: 2rem;
        text-align: center;
        color: #181619;
        margin-top: -1%;
    }

    .marioJump{
        width: 100%;
        opacity: 1;
    }
    
    .marioJump:hover{
        border-radius: 3%;
        opacity: 0.5 ;
    }

    .imgRelogio{
        width: 90%;
        margin-left: 1rem;
        margin-top: 15%;
    }
    
    .imgRelogio:hover{
        border-radius: 3%;
        opacity: 0.5 ;
    }
    
    .emBreve{
        width: 100%;
        border-radius: 3%;
    }
    
    .emBreve:hover{
        border-radius: 3%;
        opacity: 0.5 ;
    }
}
